TrainingPlatform/TrainingPlatform/bin/
TrainingPlatform/TrainingPlatform/obj/
TrainingPlatform/TrainingPlatform.ApplicationServices/obj/
TrainingPlatform/TrainingPlatform.ApplicationServices/bin/
TrainingPlatform/TrainingPlatform.DataAccess/obj/
TrainingPlatform/.vs/
